nav
    div.burgerMenu.container-fluid#burgerMenu
        div.container.burgerMenu__content
            div.burgerMenu__head
                a(href="index.html")
                    img(src="img/finalLogo1.svg", alt="logo", class="burgerMenu__logo", id="burgerMenuLogo")
                div.burgerMenu__burgerImg#burgerImg
                div.burgerMenu__crossImg#crossImg
            ul.burgerMenu__list
                li.burgerMenu__item 
                    a(href="#aboutSection") ЧТО ТАКОЕ ИНТЕНСИВ?
                li.burgerMenu__item
                    a(href="#programSection") ПРОГРАММА
                li.burgerMenu__item
                    a(href="#priceSection") СТОИМОСТЬ
                li.burgerMenu__item
                    a(href="#roadSection") КАК ЗАПИСАТЬСЯ?
                li.burgerMenu__item 
                    a(href="#tutorsSection") ПРЕПОДАВАТЕЛИ
                li.burgerMenu__item
                    a(href="#faqSection") FAQ
    div.darkScreen#darkScreen


