nav
    div.container-fluid.enterBurgerMenuWrap
        div.enterBurgerMenu.container
            div.enterBurgerMenu__head
                a(href="index.html")
                    img(src="img/finalLogo1.svg", alt="logo", class="enterBurgerMenu__logo", id="enterBurgerMenuLogo")
                div.enterBurgerMenu__burgerImg#enterBurgerImg
                div.enterBurgerMenu__crossImg#enterCloseImg
            ul.enterBurgerMenu__list#enterBurgerBody
                li.enterBurgerMenu__item 
                    a(href="/#aboutSection") ЧТО ТАКОЕ ИНТЕНСИВ?
                li.enterBurgerMenu__item
                    a(href="/#programSection") ПРОГРАММА
                li.enterBurgerMenu__item
                    a(href="/#priceSection") СТОИМОСТЬ
                li.enterBurgerMenu__item
                    a(href="/#roadSection") КАК ЗАПИСАТЬСЯ?
                li.enterBurgerMenu__item 
                    a(href="/#tutorsSection") ПРЕПОДАВАТЕЛИ
                li.enterBurgerMenu__item
                    a(href="/#faqSection") FAQ