header.container
    div.header__hamburger#menu_hamburger
    div.header__cross#menu_cross
    div.header__logo
        a(href="index.html")
            img(src="img/header_logo.svg", alt="logo")
    nav
        ul.menu#header_menu
            li.menu__item
                a(href="#") menu__item
            li.menu__item
                a(href="#") menu__item
            li.menu__item
                a(href="#") menu__item
            li.menu__item
                a(href="#") menu__item
            li.menu__item
                a(href="#") menu__item   
             
            
            
            
            
