nav
    div.profile__burgerMenu
        div.profile__burgerMenu--head 
            a(href="/").profile__burgerMenu-logo
                img(src="img/finalLogo1.2.svg", alt="Logo")
            div.profile__burgerMenu-items
                a(href="/allCourses.html").profile__burgerMenu-item ВСЕ КУРСЫ
                a(href="/myCourses.html").profile__burgerMenu-item.profile__burgerMenu-item--active МОИ КУРСЫ
                a(href="/profile.html").profile__burgerMenu-item ПРОФИЛЬ
                form(action="", method="post", name="profileExit", class="profile__burgerMenu-item-form")
                    label
                        img(src="img/signOut.svg", alt="Sign Out", class="profile__burgerMenu-signOut-img")
                        input(type="submit", value="")
            div.profile__burgerMenu-open#profileBurgerMenuOpen
            div.profile__burgerMenu-close#profileBurgerMenuClose X
        ul.profile__burgerMenu--body
            li.profile__burgerMenu--body-item
                a(href="/allCourses.html", class="profile__burgerMenu--body-link") ВСЕ КУРСЫ
            li.profile__burgerMenu--body-item
                a(href="/myCourses.html", class="profile__burgerMenu--body-link profile__burgerMenu--body-link--active") МОИ КУРСЫ
            li.profile__burgerMenu--body-item
                a(href="/profile.html", class="profile__burgerMenu--body-link") ПРОФИЛЬ
            li.profile__burgerMenu--body-item
                form(action="", method="post", name="profileExit", class="profile__burgerMenu-item-form")
                    label
                        img(src="img/signOut.svg", alt="Sign Out", class="profile__burgerMenu-signOut-img")
                        input(type="submit", value="")

