nav
    div.profile__burgerMenu
        div.profile__burgerMenu--head 
            a(href="/").profile__burgerMenu-logo
                img(src="img/finalLogo1.2.svg", alt="Logo")
            div.profile__burgerMenu-items
                a(href="/allCourses.html").profile__burgerMenu-item ВСЕ КУРСЫ
                a(href="/myCourses.html").profile__burgerMenu-item.profile__burgerMenu-item--active МОИ КУРСЫ
                a(href="/profile.html").profile__burgerMenu-item ПРОФИЛЬ
                div.profile__burgerMenu-userImg#profileBurgerMenuUser
                div.profile__burgerMenu-signOut#profileBurgerMenuSignOut
                    form(action="", method="post", name="profileExit")
                        label
                            img(src="img/signOut.svg", alt="Sign Out", class="profile__burgerMenu-signOut-img")
                            p.profile__burgerMenu-signOut-link ВЫЙТИ
                            input(type="submit", value="")