nav
    div.profile__burgerMenu
        div.profile__burgerMenu--head 
            a(href="/index.html").profile__burgerMenu-logo
                img(src="img/finalLogo1.2.svg", alt="Logo")
            div.profile__burgerMenu-items
                a(href="/allCourses.html").profile__burgerMenu-item ВСЕ КУРСЫ
                a(href="/myCourses.html").profile__burgerMenu-item МОИ КУРСЫ
                a(href="/profile.html").profile__burgerMenu-item.profile__burgerMenu-item--active ПРОФИЛЬ
                div.profile__burgerMenu-userImg#profileBurgerMenuUser
                div.profile__burgerMenu-signOut#profileBurgerMenuSignOut
                    form(action="", method="post", name="profileExit")
                        a(href="").profile__burgerMenu-signOut-img
                            img(src="img/signOut.svg", alt="Sign Out")
                        a(href="").profile__burgerMenu-signOut-link ВЫЙТИ