section.container-fluid.registration#registrationDarkScreen
    div.enter#enterWindow
        h2.enter__heading Войти
        div.enter__cross#enterCross
        form(action="", method="post", name="enterForm")
            label
                p.enter__label-text Email
                input(type="email", name="enterEmail", required, placeholder="Email", id="enterEmail")
            label
                p.enter__label-text Password
                input(type="password", name="enterPassword", class="enterPasswordInput", required, placeholder="Password", id="enterPassword")
            a(href="", class="enter__forgerPassword") Забыли пароль?
            button(type="submit", class="enter__submit") ВОЙТИ
        p.enter__register Нет аккаунта?
            a#enterLinkToRegister Зарегистрироваться
    div.register#registerWindow
        h2.register__heading Создать аккаунт
        a(class="register__enter")#registerLinkToEnter вход
        div.register__cross#registerCross
        form(action="" method="post" name="registerForm", class="register__form", id="registartionForm")
            label.register__emailLabel#registerEmailLabel
                p.register__text#registerTextEmail Email
                input(type="email", name="registerEmail", placeholder="Email", id="registerEmail")
                div.register__tick--email
                div.register__wrapUnderInput.register__wrapUnderInput--email
                    p.register__capture#registerCapture Мы не будем отправлять Вам спам или передавать базу данных
                    p.register__warning.register__warning--email#registerWarningEmail Заполните это поле, пожалуйста
                    div.register__nextButton#registerNextButton Далее
            label.register__passwordLabel#registerPasswordLabel
                p.register__text#registerTextPassword Password
                input(type="password", name="registerPassword", placeholder="Password", id="registerPassword")
                div.register__tick--password
                div.register__wrapUnderInput.register__wrapUnderInput--password
                    p.register__warning.register__warning--password#registerWarningPassword Заполните это поле, пожалуйста
                    button(type="submit").register__submitButton#registerSubmit Создать