div.successAlert.container#successAlert
    p.successAlert__text#successAlertText 
    p.successAlert__ok#successAlertOK ok
div.errorAlert.container#errorAlert
    p.errorAlert__text#errorAlertText 
    p.errorAlert__ok#errorAlertOK ok