<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/allCoursesBurgerMenu.pug
        section.allCourses.container
            div.row.no-gutters.justify-content-start
                div.col-12.col-xl-6.allCourses__item
                    div.allCourses__item-images
                    div.allCourses__item-description
                        h3.allCourses__item-description-heading Intensive English Course
                        p.allCourses__item-description-text <span>5</span> weeks
                        p.allCourses__item-description-text <span>5</span> days per week
                        p.allCourses__item-description-text <span>30</span> minutes a day
                        a(href="").allCourses__item-description-button GET THE COURSE

    
    script(src="js/allCourses.js")
    script(src="js/profileUserBurger.js")