<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/allCoursesBurgerMenu.pug
        section.allCourses.container
            div.row.no-gutters.justify-content-start
                div.col-12.col-xl-6.allCourses__item
                    div.allCourses__item-images
                    div.allCourses__item-description
                        h3.allCourses__item-description-heading Интенсив Английского
                        p.allCourses__item-description-text <span>5</span> недель
                        p.allCourses__item-description-text <span>5</span> дней в неделю
                        p.allCourses__item-description-text <span>30</span> минут в день
                        a(href="").allCourses__item-description-button ПОЛУЧИТЬ КУРС
            div.allCourses__lamp
                p Больше курсов в разработке
                img(src="/img/lightBulb.svg", alt="Больше курсов в разработке")

    
    script(src="js/allCourses.js")
    script(src="js/profileUserBurger.js")