<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/myCoursesBurgerMenu.pug
        
        section.bookIntensive.container-fluid
            div.container.breadCrumbs
                ul.breadCrumbs__content
                    li.breadCrumbs__item.breadCrumbs__item-link 
                        a(href="/myCourses.html") МОИ КУРСЫ
                    li.breadCrumbs__item.breadCrumbs__item-img
                    li.breadCrumbs__item.breadCrumbs__item-link 
                        p Интенсив английского
            div.container.bookIntensive__content
                div.row.no-gutters.justify-content-between
                    div.col-12.col-lg-6
                        h1.bookIntensive__heading Интенсив английского
                    div.col-12.col-lg-6
                        div.row.no-gutters.justify-content-between.bookIntensive__items
                            div.col-12.col-lg-6.bookIntensive__item
                                a(href="bookWeek1.html").bookIntensive__item-week Неделя 1
                            div.col-12.col-lg-6.bookIntensive__item
                                a(href="bookWeek2.html").bookIntensive__item-week Неделя 2
                            div.col-12.col-lg-6.bookIntensive__item
                                a(href="bookWeek3.html").bookIntensive__item-week Неделя 3
                            div.col-12.col-lg-6.bookIntensive__item
                                a(href="bookWeek4.html").bookIntensive__item-week Неделя 4
                            div.col-12.col-lg-6.bookIntensive__item
                                a(href="bookWeek5.html").bookIntensive__item-week Неделя 5


        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")    
        script(src="js/profileUserBurger.js")