<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        section.confAgreement.container
            h1.confAgreement__heading Соглашение о конфиденциальности
            div.confAgreement__textBlock
                h2.confAgreement__h2 СОГЛАШЕНИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ
                p.confAgreement__text Регистрируясь и оставляя свои личные данные на нашем Сайте <a href="https://holieng.online/">(https://www.holieng.online)</a>, Пользователь:
                ul.confAgreement__list
                    li.confAgreement__list-item 1. Дает согласие на обработку Сайтом предоставляемых персональных данных для регистрации Пользователя на Сайте на основании Конституции Украины и Закона Украины “О защите персональных данных” от 01.06.2010 г. №2297-VI (далее - Закон), а также Генерального регламента о защите данных (ЕС) 2016/679 от 27.04.2016 г. (EU General Data Protection Regulation, далее - GDPR) и другого применимого Европейского законодательства о защите данных
                    li.confAgreement__list-item 2. Подтверждает достоверность указанных персональных и подтверждает, что данные приадлежат лично ему.
                    li.confAgreement__list-item 3. Соглашается с условиями обработки персональных данных без каких-либо оговорок и ограничений.
                    li.confAgreement__list-item 4. Соглашается с тем, что, в целях улучшения качества предоставленных услуг, могут быть записаны аудио- и видео-записи с его участием.
                    li.confAgreement__list-item 5. Подтверждает, что полностью ознакомился с настоящим Соглашением и содержащимися в нем условиями.
                p.confAgreement__text Данное соглашение применяется к сбору следующих персональных данных:
                ul.confAgreement__list
                    li.confAgreement__list-item 1. Имя, Фамилия.
                    li.confAgreement__list-item 2. Адрес электронной почты (e-mail).
                    li.confAgreement__list-item 3. Номер телефона.
                    li.confAgreement__list-item 4. Skype логин.
                    li.confAgreement__list-item 5. Уровень знаний.
                    li.confAgreement__list-item 6. Цели занятий.
                    li.confAgreement__list-item 7. Хобби и интересы.
                    li.confAgreement__list-item 8. Сфера профессиональной деятельности.
                    li.confAgreement__list-item 9. Аудио- и видео-записи с участием Пользователей.
                p.confAgreement__text Дополнительно на Сайте происходит сбор и обработка обезличенных данных о посетителях (в том числе файлов "cookie") с помощью сервиса интернет статистики Google Analytics <a href="https://analytics.google.com">https://analytics.google.com.</a>
                p.confAgreement__text Указанная информация является конфиденциальной и не передается тетьим  лицам. Согласие на обработку персональных данных действует бессрочно с момента предоставления данных. Holieng имеет право вносить изменения в даное Соглашение. Новая редакция Соглашения вступает в силу с момента ее размещения.








