<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/enterBurgerMenu.pug
        section.container.breadCrumbs
            ul.breadCrumbs__content
                li.breadCrumbs__item.breadCrumbs__item-link 
                    a(href="/") ГЛАВНАЯ
                li.breadCrumbs__item.breadCrumbs__item-img
                li.breadCrumbs__item.breadCrumbs__item-link 
                    p ВОЙТИ
        section.enterWrap.container
            div.enter#enterWindow
                h2.enter__heading Войти
                form(action="", method="post", name="enterForm")
                    label
                        p.enter__label-text Email
                        input(type="email", name="enterEmail", required, placeholder="Email", id="enterEmail")
                    label
                        p.enter__label-text Password
                        input(type="password", name="enterPassword", class="enterPasswordInput", required, placeholder="Password", id="enterPassword", autocomplete="current-password")
                    a(href="/resetPassword.html", class="enter__forgerPassword") Забыли пароль?
                    button(type="submit", class="enter__submit") ВОЙТИ
                p.enter__register Нет аккаунта?
                    a(href="/registration.html")#enterLinkToRegister Зарегистрироваться

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="js/enter.js")