<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/enterBurgerMenu.pug
        section.container
            img(src="/img/error_500.svg", alt="Eror 404", class="error500")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="js/errorsBurger.js")

        style(type="text/css").
            .error500{
                width: 90%;
                max-width: 650px;
                display: block;
                margin: 70px auto
            }

        