<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body

        header.container
            div.header__logo
                img(src="img/finalLogo1.svg", alt="HoLi logo")
                a(href="" class="header__contacts") контакты
            div.header__about
                h1.header__heading Это<br/>Интенсив<br/>Английского
                div.header__description
                    p.header__description-text Если Вы попали на наш сайт:
                    p.header__description-text 1) Вы хотите развивать навыки английского
                    p.header__description-text 2) У вас нет на это времени
                    p.header__description-text--bold Угадали?
                    p.header__description-text--bold Давайте знакомиться.
            nav
                div.header__blocks.row.no-gutters.justify-content-around
                    div.header__block.col-12.col-md-6.col-xl-4 
                        a(href="" class="header__nav-links") Что такое интенсив?
                    div.header__block.col-12.col-md-6.col-xl-4
                        a(href="" class="header__nav-links") Программа
                    div.header__block.col-12.col-md-6.col-xl-4
                        a(href="" class="header__nav-links") Стоимость
                    div.header__block.col-12.col-md-6.col-xl-4
                        a(href="" class="header__nav-links") Как записаться?
                    div.header__block.col-12.col-md-6.col-xl-4 
                        a(href="" class="header__nav-links") Преподаватели
                    div.header__block.col-12.col-md-6.col-xl-4
                        a(href="" class="header__nav-links") FAQ

    section.about.container-fluid
        article
            div.about__lines
                h2.about__heading.heading Что такое интенсив?
                p.about__text.text Это способ не терять знания. Это способ наверстать упущенное. Это способ заниматься даже не выходя из дома. Мы верим, что Вы достаточно придумывали отговорки, чтобы не учить английский. Мы нашли решение для Вас.
                div.about__circles
                        div.about__circle
                            p.about__circle-text Персональные занятия в любом месте по Скайпу
                        div.about__circle
                            p.about__circle-text <span>5</span> недель
                            p.about__circle-text <span>5</span> занятий в неделю
                            p.about__circle-text <span>30</span> минут в день
                        div.about__circle
                            p.about__circle-text Начало курса в любое время
                div.about__scroll
                    img(src="img/scroll down.svg", alt="scroll down" class="about__scroll-mouse")
                    img(src="img/arrow.svg", alt="arrow down" class="about__scroll-arrow" id="aboutScrollArrow1")
                    img(src="img/arrow.svg", alt="arrow down" class="about__scroll-arrow" id="aboutScrollArrow2")
                    img(src="img/arrow.svg", alt="arrow down" class="about__scroll-arrow" id="aboutScrollArrow3")           
    section.program.container-fluid
        main
            div.program__lines
                div.program__heading программа
                div.program__items
                    div.program__item.program__item--first
                        div.program__officer.program__officer--left
                        div.program__textBlock.program__textBlock--first
                            p.program__text <span>Small talk</span>
                            p.program__text 15 минут перед началом курса
                            p.program__questionMark.program__questionMark--first ?
                    div.program__item.program__item--second
                        div.program__textBlock.program__textBlock--second
                            div.program__week
                                div.program__day.program__day--yellow пн
                                div.program__day.program__day--yellow вт
                                div.program__day.program__day--purple ср
                                div.program__day.program__day--purple чт
                                div.program__day.program__day--purple пт
                                div.program__day.program__day--gray сб
                                div.program__day.program__day--gray вс
                            div.program__underlined
                                div.program__grammar
                                    p.program__grammar-text grammar
                                div.program__speaking
                                    p.program__speaking-text speaking
                            h3.program__countPerWeek x 5 недель
                        div.program__officer.program__officer--right
                    div.program__item.program__item--third
                        div.program__officer.program__officer--left
                        div.program__textBlock.program__textBlock--third
                            p.program__textBlock-text <span>Домашнее задание</span>
                            p.program__textBlock-text и
                            p.program__textBlock-text <span>слова для изучения</span>
                            p.program__textBlock-text на каждом занятии
                    div.program__item.program__item--forth
                        div.program__textBlock.program__textBlock--forth
                            p.program__textBlock-text <span>4</span> базовые грамматические темы
                            p.program__textBlock-text <span>+</span>
                            p.program__textBlock-text <span>1</span> грамматическая тема на выбор
                            p.program__questionMark.program__questionMark--forth ?
                        div.program__officer.program__officer--right
                div.program__priceHeading Стоимость
                div.program__price
                    h3.program__price-textPrice 130 €
                    p.program__price-text единоразовый платеж
                img(src="/img/bigben.svg", alt="BIG BEN" class="program__bigben")
    section.road.container-fluid
        div.road__line.road__line--top
        div.road__line.road__line--bottom
        div.road__dottedLine
        div.road__headingWrap
            h2.road__heading.road__heading--bold Как
            h2.road__heading.road__heading--normal записаться?
            img(src="../img/car.svg", alt="car", class="road__car road__car--first")
            img(src="../img/car.svg", alt="car", class="road__car road__car--second")
            img(src="../img/bus.svg", alt="car", class="road__car road__car--third")
            img(src="../img/bus.svg", alt="car", class="road__car road__car--forth")
    section.application.container
        div.application__items
            div.application__item
                div.application__item-numberPlusText
                    p.application__item-number 1
                    a(href="").application__item-link Оставьте заявку!
                p.application__item-text--purple.application__item-text--purple-first 2 минуты
            hr(noshade, size="1px").application__hr
            div.application__item
                div.application__item-numberPlusText
                    p.application__item-number 2
                    p.application__item-text Ожидайте ответ на указанный в заявке способ коммуникации
                p.application__item-text--purple.application__item-text--purple-second в течении 24 часов
            hr(noshade, size="1px").application__hr
            div.application__item
                p.application__item-number 3
                p.application__item-text Договоритесь о Small talk
            hr(noshade, size="1px").application__hr
            div.application__item
                p.application__item-number 4
                p.application__item-text Приступите к курсу
    section.tutors.container
        img(src="/img/circle_teachers.svg", alt="", class="tutors__background")
        div.tutors__content
            h2.tutors__heading Преподаватели
            div.tutors__items
                div.tutors__item-text
                    p.tutors__text Сначала нас было двое.</br>Теперь количество преподавателей растет с каждым днем.
                    p.tutors__text Каждый преподаватель - открытый, понимающий, заинтересованный в Вашем результате.
                    p.tutors__text Особенность наших преподавателей - каждый из них жил или живет в англоязычной стране.
                    p.tutors__text Мы хотим, чтобы Вы говорили, а не только знали правила.
                div.tutors__item-img
                    img(src="/img/tutors.svg", alt="tutors photo", class="tutors__image")
            a(href="").tutors__link Стать преподавателем.

        section.faq
            h2.faq__heading faq
            div.faq__accordeon
                div.faq__accordeon--head 
                    h3 ДЛЯ КОГО ЭТОТ ИНТЕНСИВ?
                    p +
                    
                div.faq__accordeon--head 
                    h3 ЧТО ТАКОЕ SMALL TALK?
                    p +

                div.faq__accordeon--head 
                    h3 КАК ПРОХОДЯТ ЗАНЯТИЯ?
                    p +

                div.faq__accordeon--head 
                    h3 КАК ПРОИСХОДИТ ОПЛАТА?
                    p +

                div.faq__accordeon--head 
                    h3 МОГУ ЛИ Я ВЕРНУТЬ СРЕДСТВА?
                    p +

            p.faq__connect Свяжитесь с нами
            a(href="mailto:").faq__email contact@holi.com

    footer.container-fluid
        div.container.footer__content
            div.footer__item-logo
                img(src="/img/finalLogo1.2.svg", alt="logo", class="footer__logo")
                p.footer__developedInfo developed by</br><span>yelmanovbohdan@gmail.com</span></br>&amp;</br>designed by</br><span>lishchynskayaanna@gmail.com</span>
            ul.footer__item-nav
                li.footer__item-nav-li 
                    a(href="") ЧТО ТАКОЕ ИНТЕНСИВ?
                br
                li.footer__item-nav-li 
                    a(href="") ПРОГРАММА
                br
                li.footer__item-nav-li 
                    a(href="") СТОИМОСТЬ
                br
                li.footer__item-nav-li 
                    a(href="") КАК ЗАПИСАТЬСЯ?
                br
                li.footer__item-nav-li 
                    a(href="") ПРЕПОДАВАТЕЛИ
                br
                li.footer__item-nav-li
                    a(href="") FAQ
            div.footer__item-networks
                h3.footer__item-networks-heading Социальные сети
                div.footer__item-networks-instagram
                    a(href="")
                        img(src="/img/instagram.svg", alt="instagram logo")
                    a(href="") @holi.eng
                div.footer__item-networks-facebook
                    a(href="")
                        img(src="/img/facebook.svg", alt="facebook logo")
                    a(href="") Holi.eng
                h3.footer__item-networks-heading Свяжитесь с нами
                div.footer__item-networks-mail
                    a(mailto:)
                        img(src="/img/mailPink.svg", alt="mail logo")
                    a(mailto:) contact@holi.com








            
                

        script(src="js/scripts.min.js")
        
            