<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body

        header.container
            div.header__logo
                img(src="img/finalLogo1.svg", alt="HoLi logo")
            div.header__about
                h1.header__heading Это<br/>Интенсив<br/>Английского
                div.header__description
                    p.header__description-text Если Вы попали на наш сайт:
                    p.header__description-text 1) Вы хотите развивать навыки английского
                    p.header__description-text 2) У вас нет на это времени
                    p.header__description-text--bold Угадали?
                    p.header__description-text--bold Давайте знакомиться.
            nav
                div.header__blocks.row.no-gutters.justify-content-around
                    div.header__block.col-12.col-md-6.col-xl-4 
                        a(href="" class="header__nav-links") Что такое интенсив?
                    div.header__block.col-12.col-md-6.col-xl-4
                        a(href="" class="header__nav-links") Программа
                    div.header__block.col-12.col-md-6.col-xl-4
                        a(href="" class="header__nav-links") Стоимость
                    div.header__block.col-12.col-md-6.col-xl-4
                        a(href="" class="header__nav-links") Как записаться?
                    div.header__block.col-12.col-md-6.col-xl-4 
                        a(href="" class="header__nav-links") Преподаватели
                    div.header__block.col-12.col-md-6.col-xl-4
                        a(href="" class="header__nav-links") FAQ

    section.about.container-fluid
        div.about__lines
            h2.about__heading.heading Что такое интенсив?
            p.about__text.text Это способ не терять знания. Это способ наверстать упущенное. Это способ заниматься даже не выходя из дома. Мы верим, что Вы достаточно придумывали отговорки, чтобы не учить английский. Мы нашли решение для Вас.
            div.about__circles
                    div.about__circle
                        p.about__circle-text Персональные занятия в любом месте по Скайпу
                    div.about__circle
                        p.about__circle-text <span>5</span> недель
                        p.about__circle-text <span>5</span> занятий в неделю
                        p.about__circle-text <span>30</span> минут в день
                
                    div.about__circle
                        p.about__circle-text Начало курса в любое время
                    



            
                

        script(src="js/scripts.min.js")
        
            