<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body

        header.container
            div.header__logo
                img(src="img/finalLogo1.svg", alt="HoLi logo")
            div.header__about
                h1.header__heading Это<br/>Интенсив<br/>Английского
                div.header__description
                    p.header__description-text Если Вы попали на наш сайт:
                    p.header__description-text 1) Вы хотите развивать навыки английского
                    p.header__description-text 2) У вас нет на это времени
                    p.header__description-text--bold Угадали?
                    p.header__description-text--bold Давайте знакомиться.
            nav
                div.header__blocks.row.no-gutters.justify-content-around
                    div.header__block.col-12.col-md-6.col-xl-4 Что такое интенсив?
                    div.header__block.col-12.col-md-6.col-xl-4 Программа
                    div.header__block.col-12.col-md-6.col-xl-4 Стоимость
                    div.header__block.col-12.col-md-6.col-xl-4 Как записаться?
                    div.header__block.col-12.col-md-6.col-xl-4 Преподаватели
                    div.header__block.col-12.col-md-6.col-xl-4 FAQ

            
                

        script(src="js/scripts.min.js")
        
            