<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body

        header.container
            div.header__logo
                img(src="img/finalLogo1.svg", alt="HoLi logo")

            h1 hello
                

        script(src="js/scripts.min.js")
        
            