<!DOCTYPE html>
html(lang="ru")
    include includes/head.pug
    body
        include includes/myCoursesBurgerMenu.pug
        section.myCourses.container
            div.row.no-gutters.justify-content-start
                div.col-12.col-xl-6.myCourses__item
                    div.myCourses__item-images
                    div.myCourses__item-description
                        h3.myCourses__item-description-heading Интенсив Английского
                        p.myCourses__item-description-text <span>5</span> недель
                        p.myCourses__item-description-text <span>5</span> дней в неделю
                        p.myCourses__item-description-text <span>30</span> минут в день
                        a(href="").myCourses__item-description-button НАЧАТЬ
            //div.myCourses__selectCourse
                img(src="/img/noMyCourses.svg", alt="Выбрать курс", class="myCourses__selectCourse-img")
                div.myCourses__selectCourse-textBlock
                    h3.myCourses__selectCourse-text Вы еще не приобрели ни одного курса...
                    a(href="/allCourses.html", class="myCourses__selectCourse-link") ВЫБРАТЬ КУРС
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="js/myCourses.js")
    script(src="js/profileUserBurger.js")