<!DOCTYPE html>
html(lang="ru")
    head
        include includes/head.pug
    body
        include includes/profileBurgerMenu.pug
        //section.cartMenu.container-fluid#cartMenu
            div.container.cartMenu__wrap
                p.cartMenu__item.cartMenu__item--text Ваша корзина
                div.cartMenu__item.cartMenu__item--price
                    h3 130€
                    p Интенсив Английского
                form(action="some.php", method="post", name="profileCartCancel")
                    label
                        div.cartMenu__item.cartMenu__item--trash#cartMenuTrash
                        input(type="submit", value="", class="cartMenu__input")
        section.profile.container-fluid
            div.cardCanseled.container#cardCanseled
                p.cardCanseled__text Вы прервали процесс покупки! Выберите себе курс во вкладке <a href="/allCourses.html">ВСЕ КУРСЫ</a>.
                p.cardCanseled__ok#cartCanseledOK ok
            div.container.profile__editProfile#profileEditProfileSection
                p.profile__editProfile-link#profileEditProfileButton edit profile
            div.container
                form(action="", method="post", name="profileUserContacts", class='profileForm')
                    div.row.no-gutters.justify-content-between
                        div.col-12.col-xl-6.profile__item
                            div.profile__item-content.profile__item-content--user
                                div.profile__item--user-photoWrap
                                    div.profile__item--user-img
                                        img(src="https://pbs.twimg.com/media/EEknCzqXsAEG47K.jpg")
                                    label(for="profileUploadPhoto", class="profile__item--user-label", id="profileUploadLabel") загрузить фото
                                    input(type="file", name="profileUploadPhoto", id="profileUploadPhoto", class="profile__item--user-input")
                                div.progile__item--user-data
                                    label
                                        p.profile__item--user-name Имя
                                        input(type="text", name="profileFirstName", placeholder="Имя", class="profile__item--user-name-input" id="profileFirstName", autocomplete="name", value="")
                                        div.profile__item--user-firstName-star#profileFirstNameStar *   
                                    label
                                        p.profile__item--user-name Фамилия
                                        input(type="text", name="profileLastName", placeholder="Фамилия ", class="profile__item--user-name-input" id="profileLastName", autocomplete="name", value="")
                                        div.profile__item--user-lastName-star#profileLastNameStar *
                        div.col-12.col-xl-6.profile__item
                            div.profile__item-content.profile__item-content--contact
                                h3.profile__item-heading Контактная информация
                                label.profile__item--contact-phoneWrap
                                    p Телефон
                                    input(type="tel", class="profile__item--contact-phoneWrap-input", name="profileTel", placeholder="МОЙ НОМЕР ТЕЛЕФОНА" id="profilePhone", autocomplete='tel-country-code', value="")
                                    div.profile__item--contact-phoneWrap-star#profilePhoneStar *
                                label.profile__item--contact-skypeWrap
                                    p Skype
                                    input(type="tel", class="profile__item--contact-skypeWrap-input", name="profileSkype", placeholder="МОЙ SKYPE" id="profileSkype", value="")
                                    div.profile__item--contact-skypeWrap-star#profileSkypeStar *
                                p.profile__item--contact-capture Ваш курс будет проходить в Skype
                        div.col-12.col-xl-6.profile__item
                            div.profile__item-content.profile__item-content--account
                                h3.profile__item-heading Аккаунт
                                div.profile__item--account-emailWrap
                                    p.name Email
                                    p.value lishchynskayaanna@gmail.com
                                    p.edit#profileEditEmailButton 
                                div.profile__item--account-passwordWrap
                                    p.name Пароль
                                    p.value ***********
                                    p.edit#profileEditPasswordButton
                        div.col-12.col-xl-6.profile__item
                            div.profile__item-content.profile__item-content--payment
                                h3.profile__item-heading.profile__item-content--payment-heading Информация об оплате

                                
                                div.profile__item-content--payment-textWrap#profileItemPaymentCart
                                    img(src="/img/paymentCart.svg", alt="cart")
                                    p Ваша корзина пуста. Перейдите во вкладку <a href="/allCourses.html">ВСЕ КУРСЫ</a> и выберите себе курс.
                                
                                div.profile__item-content--payment-warningAndPriceWrap#profileItemPaymentWarningAndPrice
                                    p.profile__item-content--payment-price К оплате:  
                                        span 130€
                                    p.profile__item-content--payment-warning#profilePaymentWarning Пожалуйста, заполните все поля перед тем, как продолжить
                                    p.profile__item-content--payment-warning-done#profilePaymentWarningDone Все готово к оплате!

                                div.profile__item-content--payment-priceBlock
                                    img(src="/img/footerPayments.svg", alt="VISA MasterCard", class="profile__item-content--payment-img")
                                
                    div.profile__submitSection
                        button(type="submit", name="profileSaveWithoutBuying", id="profileSaveWithoutBuying", data-action="save").profile__submitWithoutBuying Сохранить, но отменить покупку
                        button(type="submit", name="profileSave", id="profileSave", data-action="save").profile__submitButton СОХРАНИТЬ
                        button(type="submit", name="profileSaveAndBuy", id="profileSaveAndBuy", data-action="save_buy").profile__submitAndBuy СОХРАНИТЬ И ОПЛАТИТЬ
                        input(type="hidden", name="profileHiddenInput", id="profileHiddenInput", value="")
        section.profileEditPassword.container-fluid#profileEditPasswordWindow
            div.profileEditPassword__window
                h2.profileEditPassword__heading Редактировать пароль
                div.profileEditPassword__cross#profileEditPasswordCross
                form(action="", method="post", name="profileEditPasswordForm", class="profileEditPassword__form")
                    label 
                        p.profileEditPassword__text Email
                        input(type="email", name="profileEditPasswordEmail", class="profileEditPassword__input", id="profileEditPasswordInputEmail" value="hui@gmail.com")
                    label
                        p.profileEditPassword__text Новый пароль
                        input(type="password", name="profileEditPassword", class="profileEditPassword__input", id="profileEditPasswordInput", required, autocomplete="new-password")
                        p.profileEditPassword__capture#profileEditPasswordCaptureFirst Пароль должен содержать не менее 8 символов.
                    label
                        p.profileEditPassword__text Подтвердите новый пароль
                        input(type="password", name="profileEditPasswordRepeat", class="profileEditPassword__input", id="profileEditPasswordInputRepeat", required, autocomplete="new-password")
                        div.profileEditPassword__tick#profileEditPasswordTick
                        div.profileEditPassword__cross--password#profileEditPasswordCrossPassword X
                        p.profileEditPassword__capture#profileEditPasswordCapture Пароли не совпадают. Попробуйте еще раз.
                    button(type="submit", class="profileEditPassword__submit", id="profileEditPasswordSubmit") СОХРАНИТЬ
        section.profileEditEmail.container-fluid#profileEditEmailWindow
            div.profileEditEmail__window
                h2.profileEditEmail__heading Редактировать email
                div.profileEditEmail__cross#profileEditEmailCross
                form(action="", method="post", name="profileEditEmailForm", class="profileEditEmail__form")
                    label
                        p.profileEditEmail__text Редактируйте Ваш email
                        input(type="email", name="profileEditEmailForm", class="profileEditEmail__input", value="email.com", id="profileEditEmailInput", required)
                    button(type="submit", class="profileEditEmail__submit", id="profileEditEmailSubmitButton") СОХРАНИТЬ
        section.profileDarkScreen#profileDarkScreen
        form(action="", method="post", name="profileBuy", class="profile__buyForm", id="profileBuyForm")
            input(type="text")
                                    
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="js/profile.js")
        script(src="js/profileUserBurger.js")
                                
                            


