<!DOCTYPE html>
html(lang="ru")
    head
        include includes/head.pug
    body
        include includes/enterBurgerMenu.pug
        section.container.breadCrumbs
            ul.breadCrumbs__content
                li.breadCrumbs__item.breadCrumbs__item-link 
                    a(href="/") ГЛАВНАЯ
                li.breadCrumbs__item.breadCrumbs__item-img
                li.breadCrumbs__item.breadCrumbs__item-link 
                    a(href="/enter.html") ВОЙТИ
                li.breadCrumbs__item.breadCrumbs__item-img
                li.breadCrumbs__item.breadCrumbs__item-link 
                    p ЗАБЫЛИ ПАРОЛЬ?
        section.resetPassword.container
            div.resetPassword__window
                h2.resetPassword__heading Забыли пароль?
                p.resetPassword__text Ничего страшного. Введите свой email и перейдите по ссылке в письме.
                form(action="", method="post", name="resetPassword", class="resetPassword__form")
                    label
                        p.resetPassword__label Email
                        input(type="email", name="resetPasswordEmail", class="resetPassword__input", placeholder="Email", id="resetPasswordInput")
                    button(type="submit", class="resetPassword__submit") ОТПРАВИТЬ КОД
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="js/resetPassword.js")