<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
    body
        include includes/enterBurgerMenu.pug
        section.setNewPassword.container
            div.setNewPassword__window
                h2.setNewPassword__heading Установите новый пароль
                form(action="", method="post", name="setNewPassword")
                    label
                        p.setNewPassword__capture Новый пароль
                        input(type="password", name="setNewPasswordInput", id="password")
                    label
                        p.setNewPassword__capture Подтвердите новый пароль
                        input(type="password", name="setNewPasswordInputRepeat", id="passwordRepeat")
                        div.setNewPassword__tick#setNewPasswordTick
                        div.setNewPassword__cross#setNewPasswordCross X
                        p.setNewPassword__capture--below#setNewPasswordCapture Пароли не совпадают. Попробуйте еще раз.
                    button(type="submit", class="setNewPassword__submit", id="setNewPasswordSubmit") СОХРАНИТЬ
                



        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="js/setNewPassword.js")