@import "vars"
.profile
    &__burgerMenu
        position: relative
        width: 100%
        height: 70px
        font-family: $default-font
        &--head
            background: $black
            padding: 7.5px 165px
            display: flex
            flex-flow: row nowrap
            align-items: center
            justify-content: space-between
        &-logo
            width: 150px
            height: 55px
            img
                max-width: 150px
        &-items
            display: flex
            align-items: center
            justify-content: flex-start
            position: relative
        &-item
            font-size: 17px
            line-height: 21px
            color: #fff
            text-decoration: none
            margin-right: 40px
            &--active
                color: $purple
        &-userImg
            width: 20px
            height: 20px
            background-image: url('../img/userWhite.svg')
            background-size: contain
            background-repeat: no-repeat
            cursor: pointer
        &-signOut
            width: 230px
            height: 50px
            background: $black
            border-radius: 5px
            border: 0.5px solid #E5E5E5
            position: absolute
            right: 0
            bottom: -75px
            //display: flex
            align-items: center
            justify-content: center
            display: none
            &-img
                width: 15px
                height: 15px
                margin-right: 9px
                img
                    max-width: 100%
                    width: 15px
                    height: 15px
            &-link
                text-decoration: none
                font-size: 17px
                line-height: 21px
                color: #fff
    
.allCourses
    padding-top: 60px
    padding-bottom: 60px
    &__item
        background: linear-gradient(to right, $purple 50%, rgba(255, 255, 255, 0) 0%), linear-gradient($purple 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, $purple 50%, rgba(255, 255, 255, 0) 0%), linear-gradient($purple 50%, rgba(255, 255, 255, 0) 0%)
        background-position: top, right, bottom, left
        background-repeat: repeat-x, repeat-y
        background-size: 35px 5px, 5px 35px
        height: 280px
        border-radius: 10px
        display: flex
        align-items: center
        justify-content: space-between
        &-images
            height: 94%
            margin-top: 8px
            margin-left: 8px
            margin-bottom: 8px
            background-image: url('../img/profilePhotos.png')
            background-size: cover
            background-repeat: no-repeat
            flex: 0 0 35%
        &-description
            flex: 0 0 60%
            font-family: $default-font
            &-heading
                color: $black
                font-weight: 500
                font-size: 20px
                line-height: 24px
                text-align: center
                margin-bottom: 20px
            &-text
                font-size: 17px
                line-height: 21px   
                text-align: center
                color: $black
                margin-bottom: 15px
                span
                    font-weight: 600
                    color: $purple
            &-button
                display: block
                width: 200px
                height: 50px
                margin: auto
                background: $yellow
                border-radius: 10px
                line-height: 50px
                text-align: center
                text-decoration: none
                color: $black
                font-size: 15px
                font-weight: 500
                margin-top: 20px  
.myCourses
    padding-top: 60px
    padding-bottom: 60px
    &__item
        border: 5px solid $purple
        height: 280px
        border-radius: 10px
        display: flex
        align-items: center
        justify-content: space-between
        &-images
            height: 94%
            margin-top: 8px
            margin-left: 8px
            margin-bottom: 8px
            background-image: url('../img/profilePhotos.png')
            background-size: cover
            background-repeat: no-repeat
            flex: 0 0 35%
        &-description
            flex: 0 0 60%
            font-family: $default-font
            &-heading
                color: $black
                font-weight: 500
                font-size: 20px
                line-height: 24px
                text-align: center
                margin-bottom: 20px
            &-text
                font-size: 17px
                line-height: 21px   
                text-align: center
                color: $black
                margin-bottom: 15px
                span
                    font-weight: 600
                    color: $purple
            &-button
                display: block
                width: 200px
                height: 50px
                margin: auto
                background: $purple
                border-radius: 10px
                line-height: 50px
                text-align: center
                text-decoration: none
                color: #fff
                font-size: 15px
                font-weight: 500
                margin-top: 20px                  

.profile
    background: linear-gradient(211.14deg, #FDF7CB 14.4%, #EB6FBD 78.15%)
    min-height: 100vh
    padding-top: 60px
    &__item
        background: #fff
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 20px
        max-width: 540px
        margin-bottom: 40px
        min-height: 235px
        &:nth-child(2n + 1)
            margin-right: 10px
        &-content
            width: 92%
            height: 92%
            margin: 4%
            &--user
                display: flex
                flex-flow: row nowrap
                align-items: center
                justify-content: space-between
        &--user
            
            &-photoWrap
                width: 150px
                flex: 0 0 30%
            &-img
                width: 150px
                height: 150px
                background-color: #fff
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                border-radius: 50%
                background-image: url('../img/profileOfficer.svg')
                background-repeat: no-repeat
                background-size: 35px
                background-position: center
            &-input
                width: 0.1px
                height: 0.1px
                opacity: 0
                overflow: hidden
                position: absolute
                z-index: -1
            &-label
                display: block
                text-align: center
                margin-top: 15px
                text-decoration: underline
                cursor: pointer
            &-data
                flex: 0 0 50%
            &-name
                font-size: 17px
                line-height: 21px
                font-family: $default-font
                color: $black
                margin-bottom: 10px
                text-align: left
                &-input
                    width: 285px
                    height: 40px
                    line-height: 40px
                    margin-bottom: 25px
                    outline: none
                    border: 1px solid $black
                    border-radius: 10px
                    padding: 0 20px 
                    font-size: 15px
                    &::placeholder
                        color: #E5E5E5
        &-heading
            font-family: $default-font
            font-weight: 600
            font-size: 17px
            line-height: 21px
            color: $black
            margin-bottom: 25px
        &--contact
            &-phoneWrap
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 30px
                position: relative
                p
                    font-size: 17px
                    line-height: 21px
                    color: $black
                    margin-right: 20px
                    &:before
                        content: ''
                        background-image: url('../img/phone.svg')
                        background-size: contain
                        width: 15px
                        height: 15px
                        background-repeat: no-repeat
                        display: inline-block
                        margin-right: 6px
                        position: relative
                        top: 1px
                input
                    border: 1px solid $black
                    border-radius: 10px
                    width: 330px
                    height: 40px
                    line-height: 40px
                    font-size: 15px
                    padding: 0 20px
                    outline: none
                    &::placeholder
                        color: #E5E5E5
                &:after
                    content: '*'
                    font-family: $default-font
                    font-size: 17px
                    line-height: 21px
                    color: $purple
                    position: absolute
                    right: 30px
                    top: -10px
            &-skypeWrap
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 5px
                position: relative
                p
                    font-size: 17px
                    line-height: 21px
                    color: $black
                    margin-right: 28px
                    &:before
                        content: ''
                        background-image: url('../img/skype.svg')
                        background-size: contain
                        width: 15px
                        height: 15px
                        background-repeat: no-repeat
                        display: inline-block
                        margin-right: 6px
                        position: relative
                        top: 1px
                input
                    border: 1px solid $black
                    border-radius: 10px
                    width: 330px
                    height: 40px
                    line-height: 40px
                    font-size: 15px
                    padding: 0 20px
                    outline: none
                    &::placeholder
                        color: #E5E5E5
                &:after
                        content: '*'
                        font-family: $default-font
                        font-size: 17px
                        line-height: 21px
                        color: $purple
                        position: absolute
                        right: 30px
                        top: -10px
            &-capture
                color: #c2bdbd
                font-size: 13px
                line-height: 16px
                text-align: center
                margin-left: 75px
        &--account
            font-family: $default-font
            &-emailWrap
                display: flex
                flex-flow: row nowrap
                align-items: center
                justify-content: space-between
                margin-bottom: 40px
                margin-top: 40px
                .name
                    font-size: 17px
                    line-height: 21px
                    color: $black
                    margin-left: 10px
                    flex: 0 0 21%
                    &:before
                        content: ''
                        background-image: url('../img/mailBlack.svg')
                        background-size: contain
                        background-repeat: no-repeat
                        width: 15px
                        height: 15px
                        display: inline-block
                        line-height: 21px
                        margin-right: 5px
                        position: relative
                        top: 2px  
                .value
                    font-size: 15px
                    line-height: 18px
                    font-weight: 600
                    color: $black  
                    flex: 0 0 60%
                .edit
                    color: #C2BDBD
                    font-size: 17px
                    line-height: 21px
                    flex: 0 0 6%   
                    cursor: pointer          
            &-passwordWrap
                display: flex
                flex-flow: row nowrap
                align-items: center
                justify-content: space-between
                .name
                    font-size: 17px
                    line-height: 21px
                    color: $black
                    margin-left: 10px
                    flex: 0 0 21%
                    &:before
                        content: ''
                        background-image: url('../img/lockBlack.svg')
                        background-size: contain
                        background-repeat: no-repeat
                        width: 15px
                        height: 15px
                        display: inline-block
                        line-height: 21px
                        margin-right: 5px
                        position: relative
                        top: 2px  
                .value
                    font-size: 15px
                    line-height: 18px
                    font-weight: 600
                    color: $black  
                    flex: 0 0 60%
                .edit
                    color: #C2BDBD
                    font-size: 17px
                    line-height: 21px   
                    flex: 0 0 6%
                    cursor: pointer
    &__submitSection
        display: flex
        align-items: center
        justify-content: flex-end
    &__submitButton
        width: 255px
        height: 60px
        background: $yellow
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        text-align: center
        outline: none
        border: none
        font-size: 15px
        line-height: 60px
        color: $black
        font-weight: 600
        font-family: $default-font
        text-transform: uppercase
        cursor: pointer
        &:hover
            text-decoration: underline
    &__submitWithoutBuying
        background: transparent
        font-size: 15px
        line-height: 40px
        color: $black
        outline: none
        border: none
        cursor: pointer
        margin-right: 40px
        display: none
        &:hover
            text-decoration: underline
.cartMenu
    background: $black
    height: 70px
    border-top: 1px solid #000
    display: none
    &__wrap
        display: flex
        align-items: center
        justify-content: center
        height: 100%
    &__item
        font-family: $default-font
        color: #fff
        font-size: 15px
        line-height: 70px
        position: relative
        height: 100%
        &--text
            font-weight: bold
            margin-right: 90px
            &:after
                content: ''
                background-image: url('../img/cart.svg')
                width: 49px
                height: 49px
                position: absolute
                left: -65px
                top: 8px
                background-size: contain
                background-repeat: no-repeat
        &--price
            line-height: 70px
            display: flex
            align-items: center
            justify-content: center
            margin-right: 15px
            h3
                font-weight: 600
                font-size: 35px
                line-height: 70px
                margin-right: 6px
        &--trash
            width: 15px
            height: 15px
            background-image: url('../img/trash.svg')
            background-repeat: no-repeat
            background-size: contain
            cursor: pointer
        
                
            














