@import "vars"
.profile
    &__burgerMenu
        position: relative
        width: 100%
        height: 70px
        font-family: $default-font
        &--head
            background: $black
            padding: 7.5px 165px
            display: flex
            flex-flow: row nowrap
            align-items: center
            justify-content: space-between
        &-logo
            width: 150px
            height: 55px
            img
                max-width: 150px
        &-items
            display: flex
            align-items: center
            justify-content: flex-start
            position: relative
        &-item
            font-size: 17px
            line-height: 21px
            color: #fff
            text-decoration: none
            margin-right: 40px
            &--active
                color: $purple
        &-userImg
            width: 20px
            height: 20px
            background-image: url('../img/userWhite.svg')
            background-size: contain
            background-repeat: no-repeat
            cursor: pointer
        &-signOut
            width: 230px
            height: 50px
            background: $black
            border-radius: 5px
            border: 0.5px solid #E5E5E5
            position: absolute
            right: 0
            bottom: -75px
            display: flex
            align-items: center
            justify-content: center
            display: none
            label
                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                input
                    height: 0
                    width: 0
                    visibility: hidden
            &-img
                width: 15px
                height: 15px
                margin-right: 9px
            &-link
                text-decoration: none
                font-size: 17px
                line-height: 21px
                color: #fff
    
.allCourses
    padding-top: 60px
    padding-bottom: 60px
    min-height: calc(100vh - 70px)
    &__item
        background: linear-gradient(to right, $purple 50%, rgba(255, 255, 255, 0) 0%), linear-gradient($purple 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, $purple 50%, rgba(255, 255, 255, 0) 0%), linear-gradient($purple 50%, rgba(255, 255, 255, 0) 0%)
        background-position: top, right, bottom, left
        background-repeat: repeat-x, repeat-y
        background-size: 35px 5px, 5px 35px
        height: 280px
        border-radius: 10px
        display: flex
        align-items: center
        justify-content: space-between
        &--bought
            background: linear-gradient(to right, #FAEBEF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#FAEBEF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #FAEBEF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#FAEBEF 50%, rgba(255, 255, 255, 0) 0%)
            background-position: top, right, bottom, left
            background-repeat: repeat-x, repeat-y
            background-size: 35px 5px, 5px 35px
        &-images
            height: 94%
            margin-top: 8px
            margin-left: 8px
            margin-bottom: 8px
            background-image: url('../img/profilePhotos.png')
            background-size: cover
            background-repeat: no-repeat
            flex: 0 0 35%
        &-description
            flex: 0 0 60%
            font-family: $default-font
            &-heading
                color: $black
                font-weight: 500
                font-size: 20px
                line-height: 24px
                text-align: center
                margin-bottom: 20px
            &-text
                font-size: 17px
                line-height: 21px   
                text-align: center
                color: $black
                margin-bottom: 15px
                span
                    font-weight: 600
                    color: $purple
            &-button
                display: block
                width: 200px
                height: 50px
                margin: auto
                background: $yellow
                border-radius: 10px
                line-height: 50px
                text-align: center
                text-decoration: none
                color: $black
                font-size: 15px
                font-weight: 500
                margin-top: 20px
                cursor: pointer
            &-buttonDisabled
                display: block
                width: 200px
                height: 50px
                margin: auto
                background: $lightYellow
                border-radius: 10px
                line-height: 50px
                text-align: center
                text-decoration: none
                color: $black
                font-size: 13px
                font-weight: 500
                margin-top: 20px
    &__lamp
        display: flex
        flex-flow: row wrap
        align-items: flex-start
        justify-content: flex-end
        max-width: 570px
        min-width: 200px
        width: 70%
        position: absolute
        right: 20px
        top: 200px
        p
            flex: 0 0 40%
            text-align: center
            font-size: 25px
            line-height: 30px
            font-weight: 300
            color: $black
            margin-top: 30px
        img
            flex: 0 0 60%
            max-width: 300px
.allCoursesAlert
    display: none
    &__window
        top: 0
        right: 0
        left: 0
        bottom: 0
        position: fixed
        z-index: 2
        width: 100%
        max-width: 500px
        max-height: 455px
        margin: auto
        background: #ffffff
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        font-family: $default-font
    &__heading
        width: 100%
        line-height: 95px
        text-align: center
        color: $black
        background: linear-gradient(80.53deg, #EB6FBD 0%, #FDF7CB 99.61%)
        border-radius: 10px 10px 0px 0px
    &__cross
        background-image: url('../img/registrationCross.svg')
        background-size: contain
        background-repeat: no-repeat
        width: 17px
        height: 17px
        position: absolute
        right: 20px
        top: 20px
        cursor: pointer
    &__body
        padding: 30px 50px 55px 50px
    &__text
        font-size: 17px
        line-height: 21px
        color: $black
        margin-bottom: 25px
    &__list
        padding: 0 40px
    &__listItem
        font-size: 17px
        line-height: 21px
        color: $black
        margin-bottom: 10px
    &__link
        font-size: 14px
        line-height: 17px
        color: #C2BDBD
        text-align: right
        display: block
        margin-top: 25px
        margin-bottom: 50px
    &__submit
        width: 100%
        height: 55px
        background: $yellow
        outline: none
        border: none
        border-radius: 5px
        letter-spacing: 0.05em
        font-weight: 600
        font-size: 15px
        line-height: 18px
        color: $black
        cursor: pointer



.myCourses
    padding-top: 60px
    padding-bottom: 60px
    &__item
        border: 5px solid $purple
        height: 280px
        border-radius: 10px
        display: flex
        align-items: center
        justify-content: space-between
        &-images
            height: 94%
            margin-top: 8px
            margin-left: 8px
            margin-bottom: 8px
            background-image: url('../img/profilePhotos.png')
            background-size: cover
            background-repeat: no-repeat
            flex: 0 0 35%
        &-description
            flex: 0 0 60%
            font-family: $default-font
            &-heading
                color: $black
                font-weight: 500
                font-size: 20px
                line-height: 24px
                text-align: center
                margin-bottom: 20px
            &-text
                font-size: 17px
                line-height: 21px   
                text-align: center
                color: $black
                margin-bottom: 15px
                span
                    font-weight: 600
                    color: $purple
            &-button
                display: block
                width: 200px
                height: 50px
                margin: auto
                background: $purple
                border-radius: 10px
                line-height: 50px
                text-align: center
                text-decoration: none
                color: #fff
                font-size: 15px
                font-weight: 500
                margin-top: 20px                  
    &__selectCourse
        width: 100%
        height: auto
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: space-around
        &-img
            flex: 0 0 35%
            min-width: 150px
            margin-bottom: 20px
        &-textBlock
            flex: 0 0 50%
        &-text
            font-weight: 300
            font-size: 25px
            line-height: 30px
            color: $black
            margin-bottom: 30px
            text-align: center
        &-link
            display: block
            width: 255px
            line-height: 55px
            background: $yellow
            text-align: center
            color: $black
            font-weight: 500
            font-size: 20px
            font-family: $default-font
            text-decoration: none
            border-radius: 10px
            margin: auto
.profile
    background: linear-gradient(211.14deg, #FDF7CB 14.4%, #EB6FBD 78.15%)
    min-height: calc(100vh - 70px)
    &__editProfile
        display: flex
        align-items: center
        justify-content: flex-end
        padding-top: 5px
        display: none
        &-link
            color: $black
            font-weight: 600
            position: relative
            top: 20px
            right: 60px
            cursor: pointer
            &:before    
                content: ''
                width: 15px
                height: 15px
                background-image: url('../img/profileEdit.svg')
                background-repeat: no-repeat
                background-size: contain
                position: absolute
                top: 4px
                left: -18px
    .profileForm
        padding-top: 60px
    &__item
        background: #fff
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 20px
        max-width: 540px
        margin-bottom: 40px
        min-height: 235px
        &:nth-child(2n + 1)
            margin-right: 10px
        &-content
            width: 92%
            height: 92%
            margin: 4%
            &--user
                display: flex
                flex-flow: row nowrap
                align-items: center
                justify-content: space-between
            &--payment
                display: flex
                flex-direction: column
                align-items: flex-start
                justify-content: space-between
                &-heading
                    margin-bottom: 0
                &-textWrap
                    display: flex
                    align-items: center
                    justify-content: space-between
                    img
                        width: 40px
                        height: 40px
                        margin-right: 20px
                    p 
                        font-size: 15px
                        line-height: 20px
                        color: $black
                        a
                            color: $black
                &-warningAndPriceWrap
                    width: 100%
                    height: auto
                    font-family: $default-font
                    padding-bottom: 15px
                    border-bottom: 1px solid #D8D8D8
                &-priceBlock
                    display: flex
                    align-items: center
                    justify-content: flex-start
                &-price
                    font-size: 17px
                    line-height: 23px
                    font-family: $default-font
                    span
                        font-size: 19px
                        line-height: 23px
                        font-weight: 600
                        display: inline-block
                        margin-left: 5px
                        position: relative
                        top: 2px
                &-warning
                    font-weight: 500
                    font-size: 14px
                    line-height: 17px
                    color: #A02515
                    margin-top: 10px
                    &-done
                        color: #37B422
                        font-weight: 500
                        font-size: 14px
                        line-height: 17px
                        margin-top: 10px
                        margin-left: 6px
                        display: none
                        &:before
                            content: ''
                            width: 20px
                            height: 20px
                            background: #37B422
                            border-radius: 50%
                            display: inline-block
                            background-image: url('../img/tick 1.svg')
                            background-size: 13px
                            background-repeat: no-repeat
                            background-position: center
                            position: relative
                            top: 4px
                            right: 6px

                &-img
                    width: 180px
                    height: auto
                    margin-bottom: 15px  
        &--user
            &-photoWrap
                width: 150px
                flex: 0 0 30%
            &-img
                width: 150px
                height: 150px
                background-color: #fff
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                border-radius: 50%
                background-image: url('../img/profileOfficer.svg')
                background-repeat: no-repeat
                background-size: 35px
                background-position: center
                img
                    border-radius: 50%
            &-input
                width: 0.1px
                height: 0.1px
                opacity: 0
                overflow: hidden
                position: absolute
                z-index: -1
            &-label
                display: block
                text-align: center
                margin-top: 15px
                text-decoration: underline
                cursor: pointer
            &-data
                flex: 0 0 50%
                label
                    position: relative
            &-name
                font-size: 17px
                line-height: 21px
                font-family: $default-font
                color: $black
                margin-bottom: 10px
                text-align: left
                &-input
                    width: 285px
                    height: 40px
                    line-height: 40px
                    margin-bottom: 25px
                    outline: none
                    border: 1px solid $black
                    border-radius: 10px
                    padding: 0 20px 
                    font-size: 15px
                    &::placeholder
                        color: #E5E5E5
                    &--disabled
                        border: none
                        padding-left: 0
                        font-weight: 600
                        &+.profile__item--user-firstName-star
                            display: none
                        &+.profile__item--user-lastName-star
                            display: none
            &-firstName-star
                font-family: $default-font
                font-size: 17px
                line-height: 21px
                color: $purple
                position: absolute
                right: 15px
                top: 57px
            &-lastName-star
                font-family: $default-font
                font-size: 17px
                line-height: 21px
                color: $purple
                position: absolute
                right: 15px
                top: 152px
        &-heading
            font-family: $default-font
            font-weight: 600
            font-size: 17px
            line-height: 21px
            color: $black
            margin-bottom: 25px
        &--contact
            &-phoneWrap
                display: flex
                align-items: center
                justify-content: flex-start
                margin-bottom: 30px
                position: relative
                padding-left: 15px
                p
                    font-size: 17px
                    line-height: 21px
                    color: $black
                    margin-right: 20px
                    &:before
                        content: ''
                        background-image: url('../img/phone.svg')
                        background-size: contain
                        width: 15px
                        height: 15px
                        background-repeat: no-repeat
                        display: inline-block
                        margin-right: 6px
                        position: relative
                        top: 1px
                &-input
                    border: 1px solid $black
                    border-radius: 10px
                    width: 330px
                    height: 40px
                    line-height: 40px
                    font-size: 15px
                    padding: 0 20px
                    outline: none
                    &::placeholder
                        color: #E5E5E5
                    &--disabled
                        border: none
                        font-weight: 600
                        padding-left: 0
                        &+.profile__item--contact-phoneWrap-star
                            display: none
                &-star
                    font-family: $default-font
                    font-size: 17px
                    line-height: 21px
                    color: $purple
                    position: absolute
                    right: 25px
                    top: -5px
            &-skypeWrap
                display: flex
                align-items: center
                justify-content: flex-start
                margin-bottom: 5px
                position: relative
                padding-left: 15px
                p
                    font-size: 17px
                    line-height: 21px
                    color: $black
                    margin-right: 28px
                    &:before
                        content: ''
                        background-image: url('../img/skype.svg')
                        background-size: contain
                        width: 15px
                        height: 15px
                        background-repeat: no-repeat
                        display: inline-block
                        margin-right: 6px
                        position: relative
                        top: 1px
                &-input
                    border: 1px solid $black
                    border-radius: 10px
                    width: 330px
                    height: 40px
                    line-height: 40px
                    font-size: 15px
                    padding: 0 20px
                    outline: none
                    margin-left: 18px
                    &::placeholder
                        color: #E5E5E5
                    &--disabled
                        font-weight: 600
                        padding-left: 0
                        border: none
                        &+.profile__item--contact-skypeWrap-star
                            display: none
                &-star
                    font-family: $default-font
                    font-size: 17px
                    line-height: 21px
                    color: $purple
                    position: absolute
                    right: 25px
                    top: -5px
            &-capture
                color: #c2bdbd
                font-size: 13px
                line-height: 16px
                text-align: center
                margin-left: 75px
        &--account
            font-family: $default-font
            &-emailWrap
                display: flex
                flex-flow: row nowrap
                align-items: center
                justify-content: space-between
                margin-bottom: 40px
                margin-top: 40px
                .name
                    font-size: 17px
                    line-height: 21px
                    color: $black
                    margin-left: 10px
                    flex: 0 0 21%
                    &:before
                        content: ''
                        background-image: url('../img/mailBlack.svg')
                        background-size: contain
                        background-repeat: no-repeat
                        width: 15px
                        height: 15px
                        display: inline-block
                        line-height: 21px
                        margin-right: 5px
                        position: relative
                        top: 2px  
                .value
                    font-size: 15px
                    line-height: 18px
                    font-weight: 600
                    color: $black  
                    flex: 0 0 60%
                .edit
                    width: 20px
                    height: 20px
                    background-image: url('../img/profileEditGray.svg')
                    background-size: contain
                    background-repeat: no-repeat
                    flex: 0 0 6%   
                    cursor: pointer          
            &-passwordWrap
                display: flex
                flex-flow: row nowrap
                align-items: center
                justify-content: space-between
                .name
                    font-size: 17px
                    line-height: 21px
                    color: $black
                    margin-left: 10px
                    flex: 0 0 21%
                    &:before
                        content: ''
                        background-image: url('../img/lockBlack.svg')
                        background-size: contain
                        background-repeat: no-repeat
                        width: 15px
                        height: 15px
                        display: inline-block
                        line-height: 21px
                        margin-right: 5px
                        position: relative
                        top: 2px  
                .value
                    font-size: 15px
                    line-height: 18px
                    font-weight: 600
                    color: $black  
                    flex: 0 0 60%
                .edit
                    width: 20px
                    height: 20px
                    background-image: url('../img/profileEditGray.svg')
                    background-size: contain
                    background-repeat: no-repeat   
                    flex: 0 0 6%
                    cursor: pointer
    &__submitSection
        display: flex
        align-items: center
        justify-content: flex-end
    &__submitButton
        width: 255px
        height: 60px
        background: #FDF7CB
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        text-align: center
        outline: none
        border: none
        font-size: 15px
        line-height: 60px
        color: $black
        font-weight: 600
        font-family: $default-font
        text-transform: uppercase
        cursor: pointer
        &:hover
            text-decoration: underline
    &__submitWithoutBuying
        background: transparent
        font-size: 15px
        line-height: 40px
        color: $black
        outline: none
        border: none
        cursor: pointer
        margin-right: 40px
        display: none
        font-family: $default-font
        &:hover
            text-decoration: underline
    &__submitAndBuy
        width: 255px
        height: 60px
        background: #FDF7CB
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        text-align: center
        outline: none
        border: none
        font-size: 15px
        line-height: 60px
        color: $black
        font-weight: 600
        font-family: $default-font
        text-transform: uppercase
        cursor: pointer
        display: none
        &:hover
            text-decoration: underline
    &__buyForm
        display: none
.cartMenu
    background: $black
    height: 70px
    border-top: 1px solid #000
    //display: none
    &__wrap
        display: flex
        align-items: center
        justify-content: center
        height: 100%
    &__item
        font-family: $default-font
        color: #fff
        font-size: 15px
        line-height: 70px
        position: relative
        height: 100%
        &--text
            font-weight: bold
            margin-right: 90px
            &:after
                content: ''
                background-image: url('../img/cart.svg')
                width: 49px
                height: 49px
                position: absolute
                left: -65px
                top: 8px
                background-size: contain
                background-repeat: no-repeat
        &--price
            line-height: 70px
            display: flex
            align-items: center
            justify-content: center
            margin-right: 15px
            h3
                font-weight: 600
                font-size: 35px
                line-height: 70px
                margin-right: 6px
        &--trash
            width: 15px
            height: 15px
            background-image: url('../img/trash.svg')
            background-repeat: no-repeat
            background-size: contain
            cursor: pointer
    &__input
        display: none

.cardCanseled
    width: 100%
    height: 70px
    background: transparent
    display: flex
    align-items: center
    justify-content: center
    display: none
    &__text
        font-weight: 600
        font-size: 17px
        line-height: 70px
        color: #A02515
        position: relative
        font-family: $default-font
        margin-right: 20px
        a
            text-decoration: underline
            cursor: pointer 
            color: #A02515
        &:after
            content: ''
            background-image: url('../img/warning.svg')   
            background-repeat: no-repeat
            background-size: contain
            width: 20px
            height: 21px
            position: absolute
            top: 24px
            left: -30px
    &__ok
        font-family: $default-font
        font-weight: 600
        font-size: 17px
        line-height: 70px
        color: $black
        text-decoration: underline
        text-transform: uppercase    
        cursor: pointer            

.profileEditPassword
    display: none
    &__window
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 2
        max-height: 500px
        margin: auto
        width: 100%
        max-width: 500px
        height: auto
        background: #fff
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        font-family: $default-font
    &__heading
        width: 100%
        line-height: 95px
        text-align: center
        background: linear-gradient(80.53deg, #EB6FBD 0%, #FDF7CB 99.61%)
        border-radius: 10px 10px 0px 0px
        font-weight: bold
        font-size: 25px
        color: $black
    &__cross
        background-image: url('../img/registrationCross.svg')
        background-size: contain
        background-repeat: no-repeat
        width: 17px
        height: 17px
        position: absolute
        right: 20px
        top: 20px
        cursor: pointer
    &__form
        padding: 30px 50px
        label
            position: relative
            overflow: auto
    &__text
        font-weight: 600
        font-size: 15px
        line-height: 18px
        color: $black
        margin-bottom: 10px
    &__input
        width: 100%
        height: 50px
        border: 1px solid #D1D0D0
        border-radius: 10px
        margin-bottom: 25px
        line-height: 40px
        font-size: 15px
        padding: 0 20px
        outline: none
    &__tick
        width: 20px
        height: 20px
        background-image: url('../img/tick 1.svg')
        background-size: 13px
        background-position: center
        background-repeat: no-repeat
        background-color: #37b422
        border-radius: 50%
        position: absolute
        right: 10px
        top: 103px
        display: none
    &__capture
        font-size: 13px
        line-height: 16px
        color: #A02515
        text-align-last: left
        margin-left: 20px
        position: relative
        top: -13px
        display: none
    &__cross--password
        width: 20px
        height: 20px
        font-weight: 300
        font-size: 15px
        line-height: 20px
        color: #fff
        background: #A02515
        border-radius: 50%
        text-align: center
        position: absolute
        top: 103px
        right: 10px
        display: none
    &__submit
        outline: none
        width: 100%
        height: 55px
        background: #FDF7CB
        border-radius: 5px
        border: none
        letter-spacing: 0.05em
        font-weight: 600
        font-size: 15px
        line-height: 18px
        color: $black
        cursor: pointer
        margin-top: 35px

.profileEditEmail
    display: none
    &__window
        margin: auto
        width: 100%
        max-width: 500px
        max-height: 330px
        height: auto
        background: #fff
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        position: relative
        font-family: $default-font
        position: fixed
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 2
    &__heading
        width: 100%
        line-height: 95px
        text-align: center
        background: linear-gradient(80.53deg, #EB6FBD 0%, #FDF7CB 99.61%)
        border-radius: 10px 10px 0px 0px
        font-weight: bold
        font-size: 25px
        color: $black
    &__cross
        background-image: url('../img/registrationCross.svg')
        background-size: contain
        background-repeat: no-repeat
        width: 17px
        height: 17px
        position: absolute
        right: 20px
        top: 20px
        cursor: pointer
    &__form
        padding: 30px 50px
        label
            position: relative
    &__text
        font-weight: 600
        font-size: 15px
        line-height: 18px
        color: $black
        margin-bottom: 10px
    &__input
        width: 100%
        height: 50px
        border: 1px solid #D1D0D0
        border-radius: 10px
        margin-bottom: 40px
        line-height: 40px
        font-size: 15px
        padding: 0 20px
        outline: none
        font-weight: 600  
    &__submit
        outline: none
        width: 100%
        height: 55px
        background: #FDF7CB
        border-radius: 5px
        border: none
        letter-spacing: 0.05em
        font-weight: 600
        font-size: 15px
        line-height: 18px
        color: $black
        cursor: pointer

.profileDarkScreen
    width: 100%
    height: 100%
    min-height: 100vh
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(38, 38, 38, 0.7)
    z-index: 1
    display: none
.allCoursesDarkScreen
    width: 100%
    height: 100%
    min-height: 100vh
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(38, 38, 38, 0.7)
    z-index: 1
    display: none


@media all and (max-width: 450px)
    .profileEditEmail
        &__heading
            line-height: 80px
            font-size: 23px
        &__form
            padding: 20px 15px
    .profileEditPassword
        &__heading
            line-height: 80px
            font-size: 23px
        &__form
            padding: 20px 15px
    .allCoursesAlert
        &__body
            padding: 20px 15px













